<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- await include('styles.ejs') %>
</head>
<body>
    <h1>ScanViz Purchase Completed</h1>
    <!--<script>consol.log(`userName: `, %= userName %)</script> -->

    <p><%= customerName %> has submitted a successful payment for ScanViz.</p>
    <p>Their email address is <%= email%></p>
</body>
</html>