<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- await include('styles.ejs') %>
</head>
<body>
    <h1>Unsuccessful ScanViz Purchase </h1>
    <!--<script>consol.log(`userName: `, %= userName %)</script> -->

    <p><%= customerName %> has canceled a payment for ScanViz. 
        This may be a credit card problem or a cancelation </p>
    <p>
        They can be contacted at this email address <%= email %>
    </p>
</body>
</html>