<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- await include('styles.ejs') %>
</head>
<body>
    <h1>Welcome <%= userName %> </h1>
    <p>Welcome & Thank You for Purchasing ScanViz today!</p>
    <p>We are thrilled to have you on board. ScanViz is here to revolutionize your workflow by enabling you to effortlessly import scan data and visualize it as a Color Map overlay directly on your CAD models within SOLIDWORKS</p>
    <p>Download and installation has been sent to your email.</p>
    <p>If you do not receive it shortly please check your spam folder</p>
    <p>To help you get started, we’ve put together some quick resources to guide you through installation, loading your first samples, and setting up your onboarding session.</p>
    <h2>Step 1: How to Install ScanViz</h2>
    <p>Watch this quick video tutorial to learn how to install ScanViz and set it up on your system. This will include the Installation, finding and sending us the Host ID#, and the instructions you will receive for unlocking ScanViz.</p>
    <h2>Step 2: Loading Your First Sample(s)</h2>
    <p>Learn how to upload your first STL file or batch of STL samples. This video will guide you through exploring the features, tools, and ways to make the most of ScanViz.</p>
    <h2>Step 3: Schedule Your Free 30 Minute Onboarding Session</h2>
    <p>Schedule your free 30-minute onboarding session with us to ensure you’re fully set up and ready to maximize ScanViz’s potential.</p>
    <! url to book meeting>
    <p>We hope you enjoy using ScanViz and look forward to any Feedback</p>
</body>
</html>